/* CSS Document */
body {background-color:#333}

h1	{color:#FF0;}

p	{color:#FFF}
	
a:link {color:#FF0;}      /* unvisited link */
a:visited {color:#FC0;}  /* visited link */
a:hover {color:#F90;}  /* mouse over link */
a:active {color:#39F;}  /* selected link */

h2 {color:#FF0;}

